
img{
	height: 1080px;
	width: 720px;
	margin-left: 800px;
}
.intro{
	width: 50%;
	margin: 10px;
	margin-top: 15px;
 	background-color: #ffffff;
 	border: 1px solid black;
 	opacity: 0.6;
 	filter: alpha(opacity=60); /* For IE8 and earlier */
	padding-left: 10px;
	color:maroon;
	float: right;
}
p,h1{
	font-family: "Courier New" , Times, serif;
	font-size: 25px;
}
#time{
	color: #000FF1;
}
